<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue DataTool</title>
    <link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="js/themes/icon.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>

<div id="app">
  <div class="panel-header panel-title" style="margin-top:5px;margin-bottom:3px;">全局变量</div>

  <table border="2"  class="tableclass" style="padding-left:2px;width:95%">
        <tbody >
            <tr v-for="(value,key) in GlobalVar">
                <td style="padding-left:8px;width: 10%" > 
                  <span style="border-radius:2px;padding:2px;font-family:KaiTi;width:140px">{{key}}</span>
                </td>
                <td style="width: 10%" > 
                  <input style="width: 99%; height: 26px; line-height: 26px;" type="text" v-bind:disabled="isEditable" v-bind:value="value" v-on:change="changeValue(key,$event.target);"> 
                </td>
                <td style="padding-left:3px;width: 80%;font-family:KaiTi;font-size: 13px"  > 
                  <span> {{ VarDescription[key] }} </span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <button class="l-btn l-btn-small"  v-on:click="chengEditable($event)">
                      <span class="l-btn-left">
                        <span class="l-btn-text">{{ menu_name }}</span>
                        </span>
                    </button>
                    <span style="font-family:KaiTi;font-size: 13px;float: right;">
                      <span>是否自动重建索引<span>
                      <input type="radio" name="colors" value=true v-model="isRebuildIndex" />分析
                      <input type="radio" name="colors" value=false v-model="isRebuildIndex" />不分析
                    </span>
                    <button class="l-btn l-btn-small"  v-on:click="isShowDetail=true">
                      <span class="l-btn-left l-btn-text">查看重建索引和表分析SQL</span>
                    </button>    
                </td>
            </tr>
        </tfoot>
  </table>

  

  <button class="l-btn l-btn-small"  v-on:click="startBuildJob" style="margin-top:10px;float:center; text-align: center; width:120px">
    <span style="height:100%;font-size:18px">开始启动构造</span>
  </button>

  <div class="panel window panel-htop panel-header panel-header-noborder window-header" style="left: 2%; top: 10%; width: 95%; display: block;" v-show="isShowDetail">
    <div class="panel-header" style="width: 100%">
      <span class="panel-title" style="width: 100%">重建索引和表分析SQL</span>
      <button class="l-btn l-btn-text"  style="margin-left:20px;width:60px">保存SQL</button>
      <div class="panel-tool" style="margin-right: 4px" v-on:click="isShowDetail=false"> <a class="panel-tool-close" ></a> </div>
    </div>
  
    <textarea style="height:300px;width:100%;font-family:Courier New" v-model="rebuildIndexSQL"> </textarea>

  </div>

</div>

<script>

vm = new Vue({
  el: '#app',
  data: {
    GlobalVar: {
        "BatchQua": 200000,
        "ModBatch": 100,
        "TotalQua": 100,
        "Startvalue": 1000
    },
    VarDescription: {
        "BatchQua": "每批次构造数量,比如需要构造的总数是10000000，磁盘空间没那么大，可以设置此变量为2000000，系统自动分5次构造导入",
        "ModBatch": "模板批次,为支持多模板，构造时按模板比例随机取个模板，如每个记录都去取模板，性能影响较大，因此每个模板构造一定数量再换模板",
        "TotalQua": "构造总数，需要构造的总数，看实际情况需要构造多少",
        "Startvalue": "起始变量，注意不能与之前的构造记录重叠，虽然有校验，但校验不能百分百保证"
    },
    isRebuildIndex:true,
    isShowDetail:false,
    isEditable:true,
    rebuildIndexSQL:"execute immediate",
    menu_name:"修改变量"
  },
  created : function (){

      Response = $.ajax({url:"/getGlobalVar",async:false,type:"GET",dataType:"text"});
      console.log(JSON.stringify(Response))
      if  (Response.status == "200" ){
        this.GlobalVar = JSON.parse(Response.responseText)
        console.log(JSON.stringify(this.GlobalVar))
      } else {
        $.messager.alert("错误", "getGlobalVar Exception：" + Response.responseText,"error");
      }
  },
  methods:{
    chengEditable(){
      this.isEditable = !this.isEditable
      if(this.isEditable){
        this.menu_name = "修改变量"
        this.saveGlobalVar()
      }else {
        this.menu_name = "确定修改"
      }
    },
    changeValue(key,input){
      if( !this.validate(key,input.value) ){
        input.value = this.GlobalVar[key]
      }else {
        this.GlobalVar[key] = parseInt(input.value)
      }
    },
    validate(key,newValue){
      if(!/^\d+$/.test(newValue)){
        return false
      }
      var newNumber = parseInt(newValue)
      if(key == "TotalQua" && (newNumber < 0 || newNumber > 10000000000) ){
        return false
      }

      return true
    },
    saveGlobalVar(){
      console.log(JSON.stringify(this.GlobalVar))
      console.log(this.isRebuildIndex)
      console.log(this.rebuildIndexSQL)

      Response = $.ajax({url:"/saveGlobalVar",async:false,type:"POST",dataType:"text",data:JSON.stringify(this.GlobalVar)});
      console.log(JSON.stringify(Response))
      if  (Response.status == "200" ){
        $.messager.alert("结果", "保存成功","info");
      } else {
        $.messager.alert("错误", "Save Exception :" + Response.responseText,"error");
      }
    },
    startBuildJob(){
      console.log(JSON.stringify(this.GlobalVar))
      console.log("Begin Build Data")
    }
  }

});

</script>
</body>
</html>