<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
  <script src="js/vue.js"></script>
<style type="text/css">
textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 8px;
  width:98%; 
  height:300px;
}
</style>
</head>
<body>


<div id="editor" >
  <div class="panel-header">
    <span class="panel-title">导出SQL</span>
    <button class="l-btn l-btn-text"  style="margin-left:40px;width:60px;height: 80%" v-on:click="SaveSQL">保存SQL</button>
  </div>
  <textarea v-model="input"></textarea>
  <div class="pull-left" style="padding: 4px" >
    <label style="text-align:center;font-size: 80%;border-radius:2px;margin-left: 5px;margin-right: 10px" >模板名称:</label>
    <span class="textbox textbox-invalid easyui-fluid" style="width: 191px;" v-on:dblclick="ChangeEditable($event.currentTarget)">
      <span v-if="!isEditable" class="textbox-text" style="width: 183px; height: 24px; line-height: 24px; padding-top: 0px; padding-bottom: 0px;" > {{ model }} </span>
      <input v-if="isEditable" type="text" class="textbox-text" style="width: 183px; height: 24px; line-height: 24px; padding-top: 0px; padding-bottom: 0px;"  v-model="model" v-on:blur="ChangeEditable"> 
      </input>
    </span>
      &nbsp;&nbsp;
      <button class="easyui-linkbutton" v-on:click="Execute" style="padding-left:12px;padding-right:12px;">执行</button>
  </div>
  <div class="panel-header panel-title">执行结果</div>
  <div >
    <textarea style="height:200px;" v-model="result"></textarea>
  </div>
</div> 



<script>
new Vue({
  el: '#editor',
  data: {  
    model: "model",
    isEditable:false,
    input: " select * from scott.dept r where r.deptno = '128188382321'; ",
    result: ''
  },
  created : function (){

      Response = $.ajax({url:"/getExportSQL",async:false,type:"GET",dataType:"text"});
      console.log(JSON.stringify(Response))
      if  (Response.status == "200" ){
        this.input = Response.responseText
        console.log(this.input)
      } else {
        $.messager.alert("错误", "getExportSQL Exception：" + Response.responseText,"error");
      }
  },
  methods:{
    Execute(){
      console.log(this.input)
      //执行后保存结果到/source/模板名称 目录下
      sqllist = this.input.split(";")
      finalSQL = ""
      //简单的判断：不是全空格的，替换掉换行符 组装成所需要的SQL。
      for(var i =0; i < sqllist.length; i++){
        if (sqllist[i].search(/[\w]+/i) != -1){
          finalSQL= finalSQL + "export_table(' " + sqllist[i].replace(/\'/g,"''").replace(/[\r\n]/g,"") + " ');\n"
        }
      }

      console.log(finalSQL)

      var exportRequest = new Object()

      exportRequest.sql = finalSQL
      exportRequest.modelname = this.model

      Response = $.ajax({url:"/executeExportSQL",async:false,type:"POST",dataType:"text",data:JSON.stringify(exportRequest)});
      console.log(JSON.stringify(exportRequest))
      if  (Response.status == "200"){
        this.result = Response.responseText
        console.log(JSON.stringify(this.result))
      } else {
        $.messager.alert("错误", "executeExportSQL Exception：" + Response.responseText,"error");
      }

    },
    SaveSQL(){
      console.log(this.input)
      response = $.ajax({url:"/saveExportSQL",async:false,type:"POST",dataType:"text",data:this.input});
      $.messager.alert("结果", "保存成功","info");

    },
    ChangeEditable(element){
      console.log("ChangeEditable")
      this.isEditable = !this.isEditable

      //必须获取焦点，不主动获取焦点会出现双击后输入框没获取焦点，此时界面上其他地方单击（意思是不想修改了）不会触发失去焦点事件，一直保持输入框--可编辑状态
      //必须延迟等页面渲染完后再去使INPUT获取焦点，立即是获取不到INPUT元素的
      var getInput = function(){
        console.log(element.getElementsByTagName("INPUT"))
        element.getElementsByTagName("INPUT")[0].focus()
      }

      if(element.nodeName == "SPAN"){
        setTimeout(getInput,100);
      }
    }
  }
})

</script>

</body>
</html>