<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
  <script src="js/vue.js"></script>
<style type="text/css">
table.tableclass caption{ /*标题*/ 
text-align:center; 
padding-bottom:6px;
font-family:KaiTi; 
} 
table.tableclass td{ /*表格行*/ 
margin:0px; 
padding:0px; 
border:1px solid #ABABAB; /* 单元格边框 */ 
} 
table.tableclass input{ /*可输入区域样式*/ 
width:90%; 
height:100%;
padding:1px 3px 1px 3px; 
margin:0px; 
border:0; /* 输入框不要边框 */ 
font-family:Arial; 
}
</style>
</head>
<body>

<div id="editor" >
  
  <div class="panel-header panel-title">模板配置</div>
 
  <table border="2"  class="tableclass" style="float:none; padding-left:2px;width:100%">
        <thead>
            <tr>
                <th width="40%" style="font-family:KaiTi">源数据</th>
                <th width="60%" style="font-family:KaiTi">模板</th>
            </tr>
        </thead>
        <tbody >
            <tr>
              <td> 
                <table border="1" class="tableclass" style="float:left;width:100%">
                <tbody >

                  <tr v-for="(sourcename,index) in sourceList">
                    <td style="padding-left:8px;width:30%" > 
                      <span style="font-size:15px;font-family:Courier New"> {{ sourcename }}</span>
                    </td>
                    <td style="padding-left:14px;width:70%" align="center">
                      <button class="l-btn l-btn-small"  v-on:click="genModel(sourcename)">
                        <span class="l-btn-left l-btn-text ">生成模板</span>
                      </button>
                      <button class="l-btn l-btn-small"  v-on:click="checkDetail(sourcename,1)">
                        <span class="l-btn-left l-btn-text">查看</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
                </table>
              </td>
              <td>
                <table border="1"  class="tableclass" style="float:left;width:100%">
                <tbody >
                  <tr v-for="(weight,modelname) in modelConfig">
                    <td style="padding-left:8px;width:30%" >
                      <span style="font-size:15px;font-family:Courier New"> {{ modelname }}</span>
                    </td>
                    <td style="padding-left:4px;width:10%"> 
                      <input type="text" v-model="weight"></input>
                    </td>
                    <td style="padding-left:14px;width:60%" align="center">
                      <button class="l-btn l-btn-small"  v-on:click="genModel(modelname)">
                        <span class="l-btn-left l-btn-text">删除</span>
                      </button>
                      <button class="l-btn l-btn-small"  v-on:click="checkDetail(modelname,2)">
                        <span class="l-btn-left l-btn-text">查看</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
                </table>
              </td>
            </tr>
        </tbody>
  </table>

  <div class="pull-left" style="padding-left:4px">
    <button class="easyui-linkbutton" style="margin-top:6px;padding-left:12px;padding-right:12px" v-on:click="Save">保存模板配置</button>
  </div>

  <div class="panel window panel-htop panel-header panel-header-noborder window-header" style="left: 2%; top: 10%; width: 95%; display: block;" v-show="isShowDetail">
    <div class="panel-header" style="width: 100%">
      <div class="panel-title" style="width: 100%">详细信息</div>
      <div class="panel-tool" style="margin-right: 4px" v-on:click="isShowDetail=false"> <a class="panel-tool-close" ></a> </div>
    </div>
  
    <textarea style="height:300px;width:100%" v-bind:value="detail" readonly="readonly"> </textarea>

  </div>

</div> 

  

<script>
new Vue({
  el: '#editor',
  data: {
    sourceList:["prepaid1","prepaid2","prepaid3","Postpaid"],
    modelConfig:{
      "prepaid1":1,
      "prepaid2":1,
      "prepaid3":1
    },
    isShowDetail:false,
    detail:"inf_subscriber 1234,1234,123sfdsf"
  },
  created : function (){

      Response = $.ajax({url:"/getModels",async:false,type:"GET",dataType:"text"});
      console.log(JSON.stringify(Response))
      if  (Response.status == "200" ){
        modelData = JSON.parse(Response.responseText)
        console.log(JSON.stringify(modelData))
      } else {
        $.messager.alert("错误", "getModels Exception：" + Response.responseText,"error");
      }
  },
  methods:{
    Save(){
      console.log(JSON.stringify(this.sourceList))
      console.log(JSON.stringify(this.modelConfig))

      Response = $.ajax({url:"/saveModelConfig",async:false,type:"POST",dataType:"text",data:this.modelConfig});
      console.log(JSON.stringify(Response))
      if  (Response.status == "200" ){
        $.messager.alert("结果", "保存成功","info");
      } else {
        $.messager.alert("错误", "Save Exception :" + Response.responseText,"error");
      }

    },
    genModel(sourcename){
      console.log(sourcename)

      Response = $.ajax({url:"/genModel",async:false,type:"POST",dataType:"text",data:sourcename});
      console.log(JSON.stringify(Response))
      if  (Response.status == "200" ){
        $.messager.alert("结果", "保存成功","info");
        modelConfig[sourcename] = 1
      } else {
        $.messager.alert("错误", "genModel Exception:" + Response.responseText,"error");
      }   
    },
    checkDetail(sourcename,type){
      console.log(sourcename)

      this.isShowDetail=true
         
    }
  }
})

</script>

</body>
</html>