<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue DataTool</title>
    <link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="js/themes/icon.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>

<div id="app">

  <div class="panel-header panel-title" style="width: 99%">应用节点</div>
  <table class="datagrid-header datagrid-htable" style="width: 60%" border="0">
    <tbody>
      <tr class="datagrid-header-row">
        <td style="width:20%">
          <div class="datagrid-cell " > 节点 </div>
        </td>
        <td style="width:20%">
          <div class="datagrid-cell" > 状态 </div>
        </td>
        <td style="width:60%">
          <div class="datagrid-cell" > 操作 </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="datagrid-body datagrid-btable" style="width: 60%;border:1px solid #ABABAB;">
    <tbody>
      <tr class="datagrid-row" v-for="(nodeConfig,index) in nodeList" >
        <td style="width:20%">
          <div style="height:auto;" class="datagrid-cell"> {{nodeConfig.NodeAddr}} </div>
        </td>
        <td style="width:20%">
          <div style="text-align:center;height:auto;" class="datagrid-cell"> {{ nodeConfig.Status }} </div>
        </td>
        <td style="width:60%">
          <div style="text-align:center;height:auto;" class="datagrid-cell">
            <button class="l-btn l-btn-small" v-on:click="CheckDetail(nodeConfig.NodeAddr)">
              <span class="l-btn-left"> <span class="l-btn-text">查看日志</span></span>
            </button>
          </div>
        </td>
      </tr>

    </tbody>
  </table>

  <div class="panel-header panel-title" style="width: 99%">节点日志</div>
  <div v-if="selectedNodeConfig != null"> 
    <span class="textbox textbox-invalid easyui-fluid" style="width: 191px;margin-top: 10px;" >
      <input type="text" class="textbox-text" style="width: 183px; margin-top:0px;" v-bind:value="selectedNodeConfig.NodeAddr" disabled="true"> 
      </input>
    </span>
  </div>
</div>

<script>

vm = new Vue({
  el: '#app',
  data: {
    nodeList:
      [
        {
          NodeAddr:"192.168.1.110:4412",
          Status:"OK"
        },
        {
          NodeAddr:"192.168.1.111:4412",
          Status:"OK"
        }
      ],
    logdetail:"",
  },
  methods:{
    ChangeClicked(NodeConfig){
      console.log(JSON.stringify(NodeConfig))
      this.selectedNodeConfig = NodeConfig
    },
    CheckDetail(addr){
      //去获取日志信息
    }

  }


});

</script>
</body>
</html>