<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue DataTool</title>
    <link rel="stylesheet" type="text/css" href="js/themes/default/easyui.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
    <script src="js/vue.js"></script>
<style type="text/css">
table.tableclass {
  font-family:"Courier New"; 
} 
table.tableclass caption{ /*标题*/ 
text-align:center; 
padding-bottom:6px;
font-family:KaiTi; 
} 
table.tableclass td{ /*表格行*/ 
margin:0px; 
padding:0px; 
border:1px solid #ABABAB; /* 单元格边框 */ 
} 
table.tableclass input{ /*可输入区域样式*/ 
width:90%; 
height:100%;
padding:1px 3px 1px 3px; 
margin:0px; 
border:none; /* 输入框不要边框 */ 
font-family:Arial; 
}
</style>
</head>

<body>
<div id="app">
  <table border="2"  class="tableclass" style="padding-left:2px;width:100%">
      <caption>用户配置</caption>
        <thead>
            <tr>
                <th width="10%">用户</th>
                <th width="10%">密码</th>
                <th width="40%">表名</th>
                <th width="30%">操作</th>
            </tr>
        </thead>
        <tbody >
            <tr v-for="(item,index) in loadConfig">
                <td style="padding-left:8px" > 
                  <input type="text" v-model="item.Username"></input>
                </td>
                <td style="padding-left:8px" > 
                  <input type="text" v-model="item.Password" ></input>
                </td>
                <td>
                  <span class="tagbox-label" v-for="(table,index) in item.TableList">{{ table }}
                      <a class="tagbox-remove" v-on:click="Del(table,item.TableList)"></a>
                  </span>
                  <input v-on:change="AddTable($event.target,item.TableList)" class="textbox-text validatebox-text textbox-prompt" style="width:80px; height:22px; line-height:22px; padding-top: 0px; padding-bottom: 0px;" type="text" >
                </td>
                <td style="padding-left:14px" align="center">
                    <button class="l-btn l-btn-small"  v-on:click="DelUser(index)">
                      <span class="l-btn-left"><span class="l-btn-text">删除</span></span>
                    </button>
                    <button class="l-btn l-btn-small"  v-on:click="testConnect(item)">
                      <span class="l-btn-left"><span class="l-btn-text">测试连接</span></span>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <div style="margin-left: 10px">
                        <button class="easyui-linkbutton" v-on:click="NewUser">新增用户</button>
                        <button class="easyui-linkbutton" v-on:click="Save">保存配置</button>
                    </div>    
                </td>
            </tr>
        </tfoot>
  </table>
</div>

<script>
vm = new Vue({
  el: '#app',
  data: {
    loadConfig:[
      {
        "Username": "scott",
        "Password": "oracle",
        "TableList": [
          "emp",
          "dept"
        ]
      },
      {
        "Username": "testuser",
        "Password": "oracle",
        "TableList": [
          "inf_subscriber"
        ]
      }
    ]
  },
  created : function (){
      this.getLoadConfig()
  },
  methods:{
    getLoadConfig(){
      Response = $.ajax({url:"/getLoadConfig",async:false,type:"GET",dataType:"text"});
      console.log(JSON.stringify(Response))
      if  (Response.status == "200" ){
        this.loadConfig = JSON.parse(Response.responseText)
        console.log(JSON.stringify(this.loadConfig))
      } else {
        $.messager.alert("错误", Response.responseText,"error");
      }
    },
    Del(table,tableList){
      index = tableList.indexOf(table)
      tableList.splice(index,1)
    },
    NewUser(){
      this.loadConfig.push({"Username": "newUser","Password": "password","TableList":[]})
      console.log(JSON.stringify(this.loadConfig));
      
    },
    DelUser(index){
      this.loadConfig.splice(index,1)
      console.log(JSON.stringify(this.loadConfig));
      
    },
    AddTable( input,tableList ){
      newtabe = input.value
      console.log(newtabe);

      tabs = newtabe.split(",")
      console.log(tabs);

      for(var i = 0 ; i < tabs.length; i++){
        if(tableList.indexOf(tabs[i]) == -1){
          tableList.push(tabs[i])
        }
      }

      console.log(tableList);
      input.value = ""
    },
    testConnect(item){
      console.log(JSON.stringify(item))
      testStr = item.Username + "/" + item.Password
      Response = $.ajax({url:"/testConnect",async:false,type:"POST",dataType:"text",data:testStr});
      console.log(JSON.stringify(Response))
      if  (Response.status == "200" ){
        $.messager.alert("结果", "测试通过","info");
      } else {
        $.messager.alert("错误", "测试不通过：" + Response.responseText,"error");
      }
      
    },
    Save(){
      console.log(JSON.stringify(this.loadConfig));
      response = $.ajax({url:"/saveLoadConfig",async:false,type:"POST",dataType:"text",data:JSON.stringify(this.loadConfig)});
      $.messager.alert("结果", "保存成功","info");
    }
  }
});
</script>


</body>
</html>